@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$color-nobel: #b6b6b6;
$color-alto: #d2d2d2;
$color-alto-1: #e0e0e0;
$color-apricot: #f18c87;
$color-white: #ffffff;
$color-manz: #f0eb64;
$color-black: #000000;
$color-cornflower-blue: #5087EB;
$color-wild-willow: #A0CD79;
$color-chalet-green: #557939;
$color-cinnabar: #e34d34;
$color-mercury: #e6e6e6;

// Fonts
$font-family-roboto: "Roboto", sans-serif;

// Breakpoints
$breakpoint-sm: 576px;